<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/store.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="big_frame">
        <div class="main_frame">
            <div class="top_frame">
                <div class="top_in_frame">
                    <div class="top_frame_top">
                        <div class="top_txt_one"><i class="fas fa-map-marker-alt" style="margin-right: 5px;"></i> <%-user.city%> </div>
                        <div class="top_txt_two">
                        <a href="/home" class="link_href">
                            <div class="top_logo"> <img src="images/flowerr.png" alt=""> </div>
                        </a>
                        <div style="margin-left: 15px;">Flower</div>
                        </div>
                        <div class="top_box">
                            <div class="top_txt_three"><i class="fas fa-search"></i></div>
                            <div class="top_txt_four" style="margin-left: 15px;"><i class="fas fa-shopping-cart"></i></div>
                        </div>                        
                    </div>
                    <div class="navbar">
                        <a href="/author" class="link_href"><div class="nav_one">Author</div></a>
                        <a href="/home" class="link_href"><div class="nav_two">Home</div></a>
                        <a href="contact" class="link_href"><div class="nav_three">Contact Us</div></a>
                    </div>
                </div>
            </div>
            <div class="main_item">
                <div class="main_item_column">
                    <div class="main_item_title"><%=user.title[0]%></div>
                    <div class="main_item_desc"><%=user.flower_desc[0]%></div>
                    <a href="/home" class="link_href">
                        <div class="main_item_btn">
                            <div class="btn_txt_icon">
                                <div class="btn_txt">
                                    Read More 
                                </div>  
                                <div class="btn_icon">
                                    <i class="fas fa-arrow-right fa-sm" style="color: white; size: 10px;"></i>
                                </div> 
                            </div>
                        </div>
                    </a>
                        
                </div>
            </div>
            <!-- ITEM DOUBLE -->
            <div class="item_double">
                <div class="item_double_frame" style="margin-right: 40px; background: url(https://images.unsplash.com/photo-1527903789995-dc8ad2ad6de0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=820&q=80);">
                    <div class="item_double_border">
                        <div class="double_item_title"><%=user.title[1]%></div>
                        <div class="double_item_desc"><%=user.flower_desc[1]%></div>
                        <div class="double_item_btn">
                            <a href="/home" class="link_href">
                                <div class="double_btn_txt_icon" >
                                    <div class="btn_txt" style="color: black;">
                                        View More 
                                    </div>  
                                    <div class="double_btn_icon" >
                                        <i class="fas fa-arrow-right fa-sm" style="color: black; size: 10px;"></i>
                                    </div> 
                                </div>
                            </a>
                        </div>
                    </div>  
                </div> 
                <div class="item_double_frame" style="background: url(https://images.unsplash.com/photo-1517017385270-bd3aa4f39d9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);">
                    <div class="item_double_border">
                        <div class="double_item_title"><%=user.title[2]%></div>
                        <div class="double_item_desc"><%=user.flower_desc[2]%></div>
                        <div class="double_item_btn" >
                            <a href="/home" class="link_href">
                                <div class="double_btn_txt_icon" >
                                    <div class="btn_txt" style="color: black;">
                                        View More 
                                    </div>  
                                    <div class="double_btn_icon" >
                                        <i class="fas fa-arrow-right fa-sm" style="color: black; size: 10px;"></i>
                                    </div> 
                                </div>
                            </a>
                        </div>
                    </div>  
                </div>
                             
            </div>            
            <!-- END ITEM DOUBLE -->
            <!-- ITEMS -->
            <div class="items">
                <div class="items_main_frame">
                    <div class="items_title"><%=user.title[3]%></div>
                    <div class="items_icon">
                        <a href="/home" class="link_href"><i class="fas fa-arrow-left fa-sm" style="margin-right: 15px;"></i></a>
                        <a href="/home" class="link_href"><i class="fas fa-arrow-right fa-sm" ></i></a>
                    </div>
                </div>
                <div class="items_frame">
                    <div class="items_one"> 
                        <div class="items_img"><img src=" https://images.unsplash.com/photo-1452827073306-6e6e661baf57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[0]%></div>
                            <div class="items_price" style="margin-top: 8px;"><%=user.flower_price[0]%></div>
                        </div>
                    </div>
                    <div class="items_one" style="margin: 0px 40px 0px 40px;" > 
                        <div class="items_img"><img src="https://images.unsplash.com/photo-1602615576820-ea14cf3e476a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[1]%></div>
                            <div class="items_price" style="margin-top: 8px;"><%=user.flower_price[1]%></div>
                        </div>
                    </div>
                    <div class="items_one" style="margin-right: 40px;">
                        <div class="items_img"><img src="https://images.unsplash.com/photo-1543157145-f78c636d023d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[2]%></div>
                            <div class="items_price" style="margin-top: 8px;"><%=user.flower_price[2]%></div>
                        </div>
                    </div>
                    <div class="items_one">
                        <div class="items_img"><img src=" https://images.unsplash.com/photo-1444930694458-01babf71870c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1563&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[3]%></div>
                            <div class="items_price" style="margin-top: 8px;"><%=user.flower_price[3]%></div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- END ITEMS -->
            <div class="end_items">
                <!-- ITEMS -->
            <div class="items">
                <div class="items_main_frame">
                    <div class="items_title"><%=user.title[4]%></div>
                    <div class="items_icon">
                        <a href="/home" class="link_href"><i class="fas fa-arrow-left fa-sm" style="margin-right: 15px;"></i></a>
                        <a href="/home" class="link_href"><i class="fas fa-arrow-right fa-sm" ></i></a>
                    </div>
                </div>
                <div class="items_frame">
                    <div class="items_one">
                        <div class="items_img"><img src="https://images.unsplash.com/photo-1502736842968-bcaab72d0700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[4]%></div>
                            <div class="items_price" style="margin-top: 5px;"><%=user.flower_price[4]%></div>
                        </div>
                    </div>
                    <div class="items_one" style="margin: 0px 40px 0px 40px;">
                        <div class="items_img"><img src="https://images.unsplash.com/photo-1502736842968-bcaab72d0700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[5]%></div>
                            <div class="items_price" style="margin-top: 5px;"><%=user.flower_price[5]%></div>
                        </div>
                    </div>
                    <div class="items_one" style="margin-right: 40px;">
                        <div class="items_img"><img src="https://images.unsplash.com/photo-1502736842968-bcaab72d0700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px">
                            <div class="items_name"><%=user.flower_name[6]%></div>
                            <div class="items_price" style="margin-top: 5px;"><%=user.flower_price[6]%></div>
                        </div>
                    </div>
                    <div class="items_one">
                        <div class="items_img"><img src="https://images.unsplash.com/photo-1502736842968-bcaab72d0700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt=""></div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin-top: 5px;">
                            <div class="items_name"><%=user.flower_name[7]%></div>
                            <div class="items_price" style="margin-top: 5px;"><%=user.flower_price[7]%></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END ITEMS -->
            </div> 
            <!-- FOOTER -->
            <div class="footer">
                <div class="foot_frame">
                    <div class="top_txt">
                        <a href="/home"><div class="left_txt"><img src="images/flowerr.png" alt=""></div></a>
                        <div class="right_txt">Professional Flower Store</div>
                    </div>
                    <div class="midd_txt_frame">
                       <div class="midd_txt">travel with us to the world of flowers!</div> 
                    </div>
                    <div class="foot_bot">
                        <div class="copyright">&#169; 2021</div>
                        <div class="icon">
                            <a href="/home" style="color: blue;"><div><i class="fab fa-facebook-f"></i></div></a>
                            <a href="/home" style="color: blue;"><div><i class="fab fa-instagram"></i></div></a>
                            <a href="/home" style="color: blue;"><div><i class="fab fa-telegram"></i></div></a>
                            <a href="/home" style="color: blue;"><div><i class="fas fa-phone-square"></i></div></a>                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
    </div>
</body>
</html>